@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Remise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Buttons.css" />
    <link rel="stylesheet" href="~/css/Trams.css" />
    <link rel="stylesheet" href="~/css/Rails.css" />
    <link rel="stylesheet" href="~/css/infotram.css" />

</head>
<body style="background-color: #98FAAE;">
    <header>
        @if (ViewBag.ShowTopBar ?? true)//TODO: check for logged in user
        {
            <nav class="Top-Container">
                <div class="TB-User">
                    <input class="TB-User-Profile" id="UserButton" type="button" value="Log In" style="background-image: url('../img/usericon.png');" onclick="window.location.href= '@Url.Action("Login","Account")'" />
                </div>
                @if (Context.Session.GetString("Username") != null)
                {
                    <div class="Top-Button-Container">
                        <input class="Top-Bar TB-Selected" id="StartButton" type="button" runat="server" value="Start" onclick="BecomeSelected(false,true, 'StartButton', 'ScreenButton')" />
                        <input class="Top-Bar TB-Normal" id="ScreenButton" type="button" value="Schermen" onclick="BecomeSelected(true,false, 'ScreenButton', 'StartButton')" />
                    </div>
                    <div class="Bottom-Button-Container" style="display:none;" id="ScreenContainer">
                        @if (Context.Session.GetString("Permission") == "Conducteur")
                        {
                            <input class="TB-Tab TB-Tab-Selected TB-Tab-Image" id="ConductButton" type="button" value="Conducteur Scherm" style="background-image: url('../img/cop.png');" onclick="BottomBecomeSelected('ConductButton','MechanicButton','CleanerButton')" />
                        }
                        @if (Context.Session.GetString("Permission") == "Monteur")
                        {
                            <input class="TB-Tab TB-Tab-Normal TB-Tab-Image" id="MechanicButton" type="button" value="Monteur" style="background-image: url('../img/spanner.png');" onclick="BottomBecomeSelected('MechanicButton','ConductButton','CleanerButton')" />
                        }
                        @if (Context.Session.GetString("Permission") == "Schoonmaker")
                        {
                            <input class="TB-Tab TB-Tab-Normal TB-Tab-Image" id="CleanerButton" type="button" value="Schoonmaker" style="background-image: url('../img/broom.png');" onclick="BottomBecomeSelected('CleanerButton','ConductButton','MechanicButton')" />
                        }
                    </div>
                    @if (Context.Session.GetString("Permission") == "Conducteur")
                    {
                        <div class="Bottom-Button-Container" style="display:inline-block;" id="StartContainer">
                            <input class="TB-Tab TB-Tab-Selected TB-Tab-Image" id="ReserverButton" type="button" value="Spoor reserveren voor tram" style="background-image: url('../img/Tram.png'); background-position-y: -10px; background-size: 50% !important; width: fit-content;" onclick="BottomBecomeSelected('ReserverButton','RegisterButton')" />
                            <input class="TB-Tab TB-Tab-Normal TB-Tab-Image" id="RegisterButton" type="button" value="Tram aanmelden" style="background-image: url('../img/TramArrow.png'); background-position-y: 80%; background-size: 80% !important;" onclick="BottomBecomeSelected('RegisterButton','ReserverButton')" />
                        </div>
                    }
                }
            </nav>
        }
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ButtonSwitcher.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
