
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/LoginScreen.css" />
<body>
    <form class="LoginBox">

        <p class="LB-Input">Username <input id="Username" type="text" /></p>
        <p />
        <p class="LB-Input">Password <input id="PasswordField" type="password" /></p>
        <input id="LoginButton" type="button" value="Login" class="LB-Button" />
        <p class="LB-Text">Remember me? <input id="RememberMe" type="checkbox" /></p>
    </form>
</body>
