@model UserViewModel;
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/LoginScreen.css" />
<body>
    <form class="LoginBox LB-Login" asp-action="Login">
        <p class="LB-Login-Input">Username <input id="Username" asp-for="UserName" type="text" /></p>
        <p />
        <p class="LB-Login-Input">Password <input id="PasswordField" asp-for="Password" type="password" /></p>
        <input id="LoginButton" type="submit" value="Login" class="LB-Button" />
        <p class="LB-Text">Remember me? <input id="RememberMe" type="checkbox" /></p>
    </form>
</body>
