@model UserViewModel;
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/LoginScreen.css" />
<body>
    <form class="LoginBox LB-Register" asp-action="Register">
        <!--TODO: FIX layout-->
        <div>
            <p>First Name </p>
            <p><input id="Username" asp-for="Name" type="text" /></p>
        </div>
        <div>
            <p>Surname </p>
            <p><input id="Username" asp-for="Surname" type="text" /></p>
        </div>
        <div>
            <p>Username</p>
            <p><input id="Username" asp-for="UserName" type="text" /></p>
        </div>
        <div>
            <p>Password </p>
            <p><input id="PasswordField" asp-for="Password" type="password" /></p>
        </div>
        <div>
            <p>Confirm Password </p>
            <p><input id="PasswordField" asp-for="Password" type="password" /></p>
        </div>
        <input id="LoginButton" type="submit" value="Register" class="LB-Button" />
    </form>
</body>
