@model UserViewModel;
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/LoginScreen.css" />
<body>
    <form class="LoginBox LB-Register" asp-action="Register">
        <!--TODO: FIX layout-->
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">First Name </p>
            <p><input id="Username" asp-for="Name" type="text" /></p>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">Surname </p>
            <p><input id="Username" asp-for="Surname" type="text" /></p>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">Username</p>
            <p><input id="Username" asp-for="UserName" type="text" /></p>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">Password </p>
            <p><input id="PasswordField" asp-for="Password" type="password" /></p>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">Confirm Password </p>
            <p><input id="PasswordField" asp-for="Password" type="password" /></p>
        </div>
        <div class="LB-Register_Button">
            <input id="LoginButton" type="submit" value="Register" class="button-default"/>
        </div>
    </form>
</body>
