@model UserViewModel;
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/LoginScreen.css" />
<body>
    <form class="LoginBox LB-Register" asp-action="Register">
        <!--TODO: FIX layout-->
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">Voornaam </p>
            <p><input id="Username" asp-for="Name" type="text" /></p>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">Achternaam </p>
            <p><input id="Username" asp-for="Surname" type="text" /></p>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">Gebruikers naam</p>
            <p><input id="Username" asp-for="UserName" type="text" /></p>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">Wachtwoord</p>
            <p><input id="PasswordField" asp-for="Password" type="password" /></p>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="LB-Register-Box">
            <p class="LB-Register-Text">Wachtwoord Bevestigen</p>
            <p><input id="PasswordField" asp-for="Password" type="password" /></p>
        </div>
        <p>
            @*<div class="LB-Register-CheckBox">
                    <input id="Admin" type="checkbox" asp-for="Permissions" value="10000" />
                    <span class="LB-Register-Text">Beheerder</span>
                </div>
                <div class="LB-Register-CheckBox">
                    <input id="RemiseAdmin" type="checkbox" asp-for="Permissions" value="01000" />

                    <span class="LB-Register-Text">Wagenparkbeheerder</span>
                </div>
                <div class="LB-Register-CheckBox">
                    <input id="Conductor" type="checkbox" asp-for="Permissions" value="00100" />
                    <span class="LB-Register-Text">Bestuurder</span>
                </div>
                <div class="LB-Register-CheckBox">
                    <input id="Technician" type="checkbox" asp-for="Permissions" value="00010" />
                    <span class="LB-Register-Text">Technicus</span>
                </div>
                <div class="LB-Register-CheckBox">
                    <input id="Cleaner" type="checkbox" asp-for="Permissions" value="00001" />
                    <span class="LB-Register-Text">Schoonmaker</span>
                </div>*@
            <div class="LB-Register-Box">
                <textarea id="TextArea1" rows="2" cols="20" style="width:100%;" asp-for="Permissions"></textarea>
            </div>
        </p>
        <div class="LB-Register_Button">
            <input id="LoginButton" type="submit" value="Register" class="button-default" />
        </div>
    </form>
</body>
