
@{
    ViewData["Title"] = "Cleaning";
}
<link href="~/css/Service.css" rel="stylesheet" />
@*@model*@

<div>
    <div style="text-align:center;">
        <div style="display:inline-block; width:500px;">
            <table style="width:100%;">
                <tr class="R-Info-bar">
                    <th>Nr</th>
                    <th>Spoor</th>
                    <th>Soort Schoonmaak</th>
                    <col />
                </tr>
                @*@foreach ()
        {
            if (true)
            {*@
                <tr>
                    <td class="C-content C-content-thin">AAA</td><!--Nr-->
                    <td class="C-content C-content-thin">AAA</td><!--Spoor-->
                    <td class="C-content C-content-wide">AAA</td><!--Soort-->
                    <td class="C-Info-Status test">AAA</td><!--Status-->
                </tr>
                @for (int i = 0; i < 30; i++)
                {
                    <tr>
                        <td class="C-content C-content-thin"></td><!--Nr-->
                        <td class="C-content C-content-thin"></td><!--Spoor-->
                        <td class="C-content C-content-wide"></td><!--Soort-->
                        <td class="C-Info-Status"></td><!--Status-->
                    </tr>
                }
                @*}
        }*@
            </table>
        </div>
    </div>
</div>

