@model IEnumerable<CleaningServiceViewModel>;
@{
    ViewData["Title"] = "Cleaning";
}
<link href="~/css/Service.css" rel="stylesheet" />

<div>
    <div style="text-align:center;">
        <div style="display:inline-block; width:500px;">
            <table style="width:100%;">
                <tr class="R-Info-bar">
                    <th>Nr</th>
                    <th>Spoor</th>
                    <th>Soort Schoonmaak</th>
                    <col />
                </tr>
                @foreach (CleaningServiceViewModel Service in Model)
                {
                    <tr>
                        <td class="C-content C-content-thin">@Service.TramNumber</td><!--Nr-->
                        <td class="C-content C-content-thin">@Service.TrackNumber</td><!--Spoor-->
                        <td class="C-content C-content-wide">@Service.CleaningType</td><!--Soort-->
                        <td class="C-Info-Status test">@Service.Occured</td><!--Status-->
                    </tr>
                }
                @for (int i = 0; i < (10 - Model.Count()); i++)
                {
                    <tr>
                        <td class="C-content C-content-thin"></td><!--Nr-->
                        <td class="C-content C-content-thin"></td><!--Spoor-->
                        <td class="C-content C-content-wide"></td><!--Soort-->
                        <td class="C-Info-Status"></td><!--Status-->
                    </tr>
                }


            </table>
        </div>
    </div>
</div>

