<div>
    <div style="text-align:center;">
        <div style="display:inline-block; width:500px;">
            <table style="width:100%;">
                <tr>
                    <td class="R-content R-content-status">AAA</td><!--Status-->
                    <td class="R-content R-content-wide">AAA</td><!--Datum-->
                </tr>
                @for (int i = 0; i < 30; i++)
                {
                    <tr>
                        <td class="R-content R-content-status"></td><!--Status-->
                        <td class="R-content R-content-wide"></td><!--Datum-->
                    </tr>
                }
                @*}
                    }*@
            </table>
        </div>
    </div>
</div>