.Ck-Bar {
    background-color: black;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.CK-AcceptButton {
    font-weight: 400;
    opacity: 1;
}
