.modal-dialog {
    max-width: 500px !important;
}
.modal-content {
    display: inline-block !important;
}
.status-left {
    float: left;
    width: 75%;

}
.status-right {
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
    border-left: 1px solid black;
}
.status-info {
    border-bottom: 1px solid black;
    padding: 2.5%;
}
.status-title {
    font-weight: bold;
    font-size: larger;
}
.status-inline div {
    width: auto;
    float: left;
    border-right: 1px solid black;
    padding-left: 4px;
}
.status-defect {
    background-color: lightcoral
}
.status-cleaning {
    background-color: aqua;
}
.status-buttom {
    background-color: lightgreen;
    border-bottom: 1px solid black;
    padding: 12px;
    text-align: center;
    min-height: 50px;
}