body {
}

.LoginBox {
    border: 1px solid black;
    left: 50%;
    margin: auto;
    margin-top: 10%;
}
.LB-Login{
    width: 300px;
    height: 175px;
}
.LB-Register {
    width: 350px;
    height: auto;
    padding-bottom: 10px;
}

.LB-Input {
    margin-top: 10px;
    float: right;
    margin-right: 5px;
}

.LB-Button {
    transform: translateX(70%);
    width: 58%;
}

.LB-Text {
    margin-right: 5px;
    float: right;
}
