td, th {
    border: 1px solid #000;
    padding: 0.5rem;
    text-align: left;
}

table {
    border-collapse: collapse;
}

.C-content {
    background-color: #fff;
}

.C-content-thin {
    min-width: 80px;
}

.C-content-wide {
    min-width: 300px;
}

.C-content:empty {
    height: 41px;
}

.C-Info-bar {
    background-color: #254e57;
    color: #fff;
}

.C-Info-Status {
    border: none;
}


.R-content {
    background-color: #fff;
}

.R-content-thin {
    min-width: 80px;
}

.R-content-status {
    min-width: 180px;
}

.R-content-wide {
    min-width: 300px;
}

.R-content:empty {
    height: 41px;
}

.R-Info-bar {
    background-color: #254e57;
    color: #fff;
}

.R-Info-Status {
    border: none;
}