body {
    background-color: #98FAAE;
}

.Top-Bar {
    background-color: grey;
    min-width: 100px;
    height: 30px;
    border: solid black 1px;
    float: left;
    transition: 0.3s;
}

.TB-Normal {
    color: black;
    background-color: white;
}

.TB-Selected {
    color: white;
    background-color: #00C2FF;
}

.TB-Normal:hover {
    background-color: #F2F2F2;
}

.TB-Selected:hover {
    background-color: #00B9F2;
}

.Top-Container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border: solid black 1px;
    border-bottom-right-radius: 10px;
    -moz-box-shadow: 5px 2px 5px #666;
    -webkit-box-shadow: 5px 2px 5px #666;
    box-shadow: 5px 2px 5px #666;
}
