@{
    ViewData["Title"] = "Home Page";
}


    <div class="main-container">
        <div class="container-train normal">
            <ul>
                <li><a href="#">38</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li><a href="#">37</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li><a href="#">36</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li><a href="#">35</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>   
        <div class="container-train normal">
            <ul>
                <li><a href="#">34</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>    
        <div class="container-train normal">
            <ul>
                <li><a href="#">33</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>    
        <div class="container-train normal">
            <ul>
                <li><a href="#">32</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>    
        <div class="container-train normal">
            <ul>
                <li><a href="#">31</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>    
        <div class="container-train normal">
            <ul>
                <li><a href="#">30</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>  
        <div class="container-train special">
            <div class="container-header">
                <a class="container-brand" href="#">Dit</a>
            </div>
            <ul>
                <li><a href="#">2122</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="~/js/ButtonSwitcher.js"></script>
