@{
    ViewData["Title"] = "Home Page";
}


<div class="main-container">
    <div class="tracks-column">
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">38</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#">2201</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">37</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">36</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">35</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">34</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">33</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">32</a></li>
                <li class="tracks-gray"><a href="#">10</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-gray"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">31</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">30</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train special tracks-gray tracks-in-out">
            <ul>
                <li><a href="#">2122</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">65</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">32</a></li>
            </ul>
            <div class="container-header">
                <a class="container-brand" href="#">in-/uitrij-spoor</a>
            </div>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">41</a></li>
                <li class="tracks-gray"><a href="#">10</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">42</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">43</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">44</a></li>
                <li class="tracks-blue"><a href="#">13</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">45</a></li>
                <li class="tracks-red"><a href="#">17</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train special tracks-gray tracks-in-out">
            <ul>
                <li><a href="#">58</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <div class="container-header">
                <a class="container-brand" href="#">in-/uitrij-spoor</a>
            </div>
        </div>
    </div>
    <div class="tracks-column">
        <div class="container-train special tracks-combino tracks-combinoblue">
            <div class="container-header">
                <a class="container-brand" href="#">4x 11g/12g of 5x Combino</a>
            </div>
            <ul>
                <li class="tracks-white"><a href="#">57</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">56</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">55</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">54</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">53</a></li>
                <li class="tracks-blue"><a href="#">13</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">52</a></li>
                <li class="tracks-darkred"><a href="#">17</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">51</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">64</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">63</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">62</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">61</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
                <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                <li class="tracks-hover tracks-white"><a href="#"></a></li>
            </ul>
        </div>
    </div>

</div>
<script src="~/js/ButtonSwitcher.js"></script>
