@{
    ViewData["Title"] = "Home Page";
}

@using Services
@model DepotViewModel;
@{
    void fillTracks(int DepotValue)
    {
        for (int x = 0; x < Model.DepotTracks[DepotValue].Sectors.Count; x++)
        {
            if (Model.DepotTracks[DepotValue].Sectors[x].Tram == null)
            {
                if (Model.DepotTracks[DepotValue].Sectors[x].SectorType == SectorType.Normal)
                {
                    <li class="tracks-hover tracks-white"><a href="#"></a></li>
                }
                else if (Model.DepotTracks[DepotValue].Sectors[x].SectorType == SectorType.UnPreferred)
                {
                    <li class="tracks-hover tracks-gray"><a href="#"></a></li>
                }
                else if (Model.DepotTracks[DepotValue].Sectors[x].SectorType == SectorType.Blocked)
                {
                    <li disabled class="tracks-black tracks-disabled"><a href="#"></a></li>
                }
            }
            else
            {
                <li onclick="clickInfoTram(@Model.DepotTracks[DepotValue].Sectors[x].Tram.TramNumber, @Model.DepotTracks[DepotValue].TrackNumber)" class="tracks-hover tracks-white"><a href="#"> @Model.DepotTracks[DepotValue].Sectors[x].Tram.TramNumber </a></li>
                ViewData.Add("DepotTrack" + Model.DepotTracks[DepotValue].Sectors[x].Tram.TramNumber, Model.DepotTracks[DepotValue].Sectors[x]);
            }
        }
    }
}
<div class="main-container">
    <div class="tracks-column">
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">38</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                @{
                    fillTracks(0);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">37</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                @{
                    fillTracks(1);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">36</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                @{
                    fillTracks(2);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">35</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                @{
                    fillTracks(3);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">34</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                @{
                    fillTracks(4);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">33</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                @{
                    fillTracks(5);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">32</a></li>
                <li class="tracks-gray"><a href="#">10</a></li>
                @{
                    fillTracks(6);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">31</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                @{
                    fillTracks(7);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">30</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                @{
                    fillTracks(8);
                }
            </ul>
        </div>
        <div class="container-train special tracks-gray tracks-in-out">
            <ul>
                <li class="tracks-white"><a href="#">40</a></li>
                @{
                    fillTracks(9);
                }
            </ul>
            <div class="container-header">
                <a class="container-brand" href="#">in-/uitrij-spoor</a>
            </div>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">41</a></li>
                <li class="tracks-gray"><a href="#">10</a></li>
                @{
                    fillTracks(10);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">42</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                @{
                    fillTracks(11);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">43</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                @{
                    fillTracks(12);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">44</a></li>
                <li class="tracks-blue"><a href="#">13</a></li>
                @{
                    fillTracks(13);
                }
            </ul>
        </div>
        <div class="container-train normal">
            <ul>
                <li class="tracks-white"><a href="#">45</a></li>
                <li class="tracks-red"><a href="#">17</a></li>
                @{
                    fillTracks(14);
                }
            </ul>
        </div>
        <div class="container-train special tracks-gray tracks-in-out">
            <ul>
                <li class="tracks-white"><a href="#">58</a></li>
                @{
                    fillTracks(15);
                }
            </ul>
            <div class="container-header">
                <a class="container-brand" href="#">in-/uitrij-spoor</a>
            </div>
        </div>
    </div>
    <div class="tracks-column" style="position:relative;">
        <div class="container-train special tracks-combino tracks-combinoblue">
            <div class="container-header">
                <a class="container-brand" href="#">4x 11g/12g of 5x Combino</a>
            </div>
            <ul>
                <li class="tracks-white"><a href="#">57</a></li>
                <li class="tracks-brown"><a href="#">16/24</a></li>
                @{
                    fillTracks(41);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">56</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                @{
                    fillTracks(16);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">55</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                @{
                    fillTracks(17);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">54</a></li>
                <li class="tracks-purple"><a href="#">5</a></li>
                @{
                    fillTracks(18);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">53</a></li>
                <li class="tracks-blue"><a href="#">13</a></li>
                @{
                    fillTracks(19);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">52</a></li>
                <li class="tracks-darkred"><a href="#">17</a></li>
                @{
                    fillTracks(20);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">51</a></li>
                <li class="tracks-green"><a href="#">1</a></li>
                @{
                    fillTracks(21);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">64</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                @{
                    fillTracks(22);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">63</a></li>
                <li class="tracks-yellow"><a href="#">2</a></li>
                @{
                    fillTracks(23);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">62</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                @{
                    fillTracks(24);
                }
            </ul>
        </div>
        <div class="container-train normal tracks-bottom-row">
            <ul>
                <li class="tracks-white"><a href="#">61</a></li>
                <li class="tracks-red"><a href="#"></a></li>
                @{
                    fillTracks(25);
                }
            </ul>
        </div>
        <div class="container-repair tracks-red">
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">73</a></li>
                    @{
                        fillTracks(26);
                    }
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">74</a></li>
                    @{
                        fillTracks(27);
                    }
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">75</a></li>
                    @{
                        fillTracks(40);
                    }
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">76</a></li>
                    @{
                        fillTracks(28);
                    }
                </ul>
            </div>
            <div class="container-train normal tracks-bottom-row">
                <ul>
                    <li class="tracks-white"><a href="#">77</a></li>
                    @{
                        fillTracks(29);
                    }
                </ul>
            </div>
            <div class="container-header">
                <a class="container-brand" href="#">Repair</a>
            </div>

        </div>
        <div class="container-train special tracks-gray tracks-long-stay">
            <div class="container-header">
                <a class="container-brand" href="#">Lang parkeer-sporen</a>
            </div>
            <div class="container-train normal">
                <ul>
                    <li class="tracks-white"><a href="#">12</a></li>
                    @{
                        fillTracks(30);
                    }
                    <li class="tracks-white"><a href="#">13</a></li>
                    @{
                        fillTracks(31);
                    }
                    <li class="tracks-white"><a href="#">14</a></li>
                    @{
                        fillTracks(32);
                    }
                    <li class="tracks-white"><a href="#">15</a></li>
                    @{
                        fillTracks(33);
                    }
                    <li class="tracks-white"><a href="#">16</a></li>
                    @{
                        fillTracks(34);
                    }
                    <li class="tracks-white"><a href="#">17</a></li>
                    @{
                        fillTracks(35);
                    }
                    <li class="tracks-white"><a href="#">18</a></li>
                    @{
                        fillTracks(36);
                    }
                    <li class="tracks-white"><a href="#">19</a></li>
                    @{
                        fillTracks(37);
                    }
                    <li class="tracks-white"><a href="#">20</a></li>
                    @{
                        fillTracks(38);
                    }
                    <li class="tracks-white"><a href="#">21</a></li>
                    @{
                        fillTracks(39);
                    }
                </ul>
            </div>
        </div>
        <div class="Legend-Border tracks-gray" style="left: 1410px;bottom: 0;display: inline-table;position: absolute;">
            <!--Legenda-->
            <table>
                <tr style="padding:5px;">
                    <th class="tracks-yellow" style="min-width: 40px; border-bottom: 1px solid #000;"> </th>
                    <th style="border-bottom:solid 1px #000; text-decoration:none;">
                        = lijn 2
                    </th>
                </tr>
                <tr>
                    <th class="tracks-purple" style="min-width: 40px; border-bottom: 1px solid #000;"> </th>
                    <th style="border-bottom:solid 1px #000;">
                        = lijn 5
                    </th>
                </tr>
                <tr>
                    <th class="tracks-green" style="min-width: 40px; border-bottom: 1px solid #000;"> </th>
                    <th style="border-bottom:solid 1px #000;">
                        = lijn 1
                    </th>
                </tr>
                <tr>
                    <th class="tracks-brown" style="min-width: 40px; border-bottom: 1px solid #000;"> </th>
                    <th style="border-bottom:solid 1px #000;">
                        = lijn 16/24
                    </th>
                </tr>
                <tr>
                    <th class="tracks-gray" style="min-width: 40px; border-bottom: 1px solid #000;"> </th>
                    <th style="border-bottom:solid 1px #000;">
                        = lijn 10
                    </th>
                </tr>
                <tr>
                    <th class="tracks-blue" style="min-width: 40px; border-bottom: 1px solid #000;"> </th>
                    <th style="border-bottom:solid 1px #000;">
                        = lijn 13
                    </th>
                </tr>
                <tr>
                    <th class="tracks-red" style="min-width: 40px; border-bottom: 1px solid #000;"> </th>
                    <th>
                        = lijn 17
                    </th>
                </tr>
                <tr>
                    <th class="tracks-brown" style="min-width: 40px;"> </th>
                    <th>
                        = lijn 16/24
                    </th>
                </tr>
            </table>
        </div>
    </div>


</div>
<div class="modal fade" id="testmodal">
    <div class="modal-dialog">
        <div class="modal-content" id="traminfo">

        </div>
    </div>
</div>
<div class="modal fade" id="RegisterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="register-tram-info">
                    <h4 class="register-tram-title">Tram Aanmelden</h4>
                </div>
                <form method="post" action="/Home/ParkTram">
                    <div class="register-tram-left">
                        <div class="register-tram-info">
                            <label>Tramnummer :</label>
                            <input type="number" name="tramnumber" value="" />
                            <input type="checkbox" name="clean" value="clean"> <label class="register-label">Schoonmaak nodig?</label>
                            <input type="checkbox" name="repair" value="repair" id="repairchecked" onclick="toggleRepairField()"> <label class="register-label">Reparatie nodig?</label>
                            <textarea style="display: none;" id="repairreason" classrows="4" cols="40" name="repairreason" placeholder="Reden voor Reperatie"></textarea>
                        </div>
                        <input type="submit" class="register-tram-button" value="Verstuur" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ReserverModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="reserve-tram-info">
                    <h4 class="reserve-tram-title">Reserveer spoor voor tram</h4>
                </div>
                <form method="post" action="/Home/ReserveTrack">
                    <div class="reserve-tram-left">
                        <div class="reserve-tram-info">
                            <label>Tramnummer :</label>
                            <input type="number" name="tramnumber" value="" />

                            <label>Spoornummer :</label>
                            <select name="tracknumber">
                                <option value="38">38</option>
                                <option value="37">37</option>
                                <option value="36">36</option>
                            </select>
                        </div>
                        <input type="submit" class="reserve-tram-button" value="Verstuur" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MoveTram">
    <div class="modal-dialog">
        <div class="modal-content" id="MoveTramInfo">

        </div>
    </div>
</div>
<div class="modal fade" id="RemoveTram">
    <div class="modal-dialog">
        <div class="modal-content" id="RemoveTramData">

        </div>
    </div>
</div>
<div class="modal fade" id="CleanSignUp">
    <div class="modal-dialog">
        <div class="modal-content" id="CleanSignUpData">

        </div>
    </div>
</div>
<div class="modal fade" id="RepairSignUp">
    <div class="modal-dialog">
        <div class="modal-content" id="RepairSignUpData">

        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function MoveTram(_tramnumber, _track) {
            $.ajax({
                type: "POST",
                url: "/Home/PartialViewMoveTram",
                data: { tramnumber: _tramnumber, track: _track },
                success: function (response) {
                    $('#MoveTramInfo').html(response);
                    $('#MoveTram').modal('show');
                }
            });
        }
        function RemoveTram(_tramnumber) {
            $.ajax({
                type: "POST",
                url: "/Home/RemoveTram",
                data: { tramnumber: _tramnumber },
                success: function (response) {
                    $('#RemoveTramData').html(response);
                    $('#RemoveTram').modal('show');
                }
            });
        }
        function CleanSignUp(_tramnumber) {
            $.ajax({
                type: "POST",
                url: "/Home/CleanSignUp",
                data: { tramnumber: _tramnumber },
                success: function (response) {
                    $('#CleanSignUpData').html(response);
                    $('#CleanSignUp').modal('show');
                }
            });
        }
        function RepairSignUp(_tramnumber) {
            $.ajax({
                type: "POST",
                url: "/Home/RepairSignUp",
                data: { tramnumber: _tramnumber },
                success: function (response) {
                    $('#RepairSignUpData').html(response);
                    $('#RepairSignUp').modal('show');
                }
            });
        }
        function toggleRepairField() {
            var repairchecked = document.getElementById("repairchecked");
            var repairreason = document.getElementById("repairreason");

            if (repairchecked.checked == true) {
                repairreason.style.display = "block";
            } else {
                repairreason.style.display = "none";
            }
        }
        function SizeStatusCSS() {
            var countdiv = document.querySelectorAll('#getcount div').length;
            var children = document.getElementById("getcount").children;
            var x = 100 / countdiv;
            for (var i = 0; i < countdiv; i++) {
                if (i == countdiv - 1) {
                    children[i].setAttribute("style", "width:" + x + "%; border-right: none !important;");
                    return;
                }
                children[i].setAttribute("style", "width:" + x + "%;");
            }
        }

        function clickInfoTram(_number, _track) {
            //alert(Number);

            $.ajax({
                type: "POST",
                url: "/Home/InformationTramPopUp",
                data: { tramnumber: _number, tracknumber: _track },
                success: function (response) {

                    $('#traminfo').html(response);
                    $('#testmodal').modal('show');
                    SizeStatusCSS();
                }
            });
        }
    </script>
}

