<div>
    <div class="reserve-tram-info">
        <h4 class="reserve-tram-title">Verplaats tram naar...</h4>
    </div>
    <form method="post" action="/Home/MoveTramTo">
        <div class="reserve-tram-left">
            <div class="reserve-tram-info">
                <label>Tramnummer :</label>
                <input type="number" name="tramnumber" value="@ViewBag.Tramnumber" readonly/>
                <label>Spoornummer :</label>
                <select name="tracknumbernew">
                    @foreach (TrackViewModel track in ViewBag.AvailableTracks)
                    {
                    <option value="@track.TrackNumber">@track.TrackNumber</option>
                    }
                </select>
            </div>
            <input type="submit" class="reserve-tram-button" value="Verstuur" />
        </div>
    </form>
</div>